# Xcode e SwiftPM
build/
build-acc/
build-rt/
build-device/
DerivedData/
Odete.xcodeproj/
.build/
.swiftpm/
xcuserdata/
*.xcuserstate

# macOS
.DS_Store

# sobras de execução
*.log
tmp/

# Python
__pycache__/
